@model IEnumerable<AJFIlfov.BusinessLogic.Implementation.DisponibilitateAdminService.Models.CerereDisponibilitateModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cererile mele</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/DisponibilitateAdmin/Index.css"/>
</head>
<body>

<div class="container">
    <div class="header d-flex justify-content-between align-items-center">
        <h1>Cererile mele</h1>
        <a class="btn btn-primary" asp-action="Create">Creează Cerere</a>
    </div>

    <div class="table-responsive mt-3">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Zi</th>
                <th>Creat la</th>
                <th>Acțiuni</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Zi.ToString("dd/MM/yyyy")</td>
                    <td>@item.CreatedOn.ToString("dd/MM/yyyy")</td>
                    <td>
                        <a class="btn btn-info" asp-action="StergeDisponibilitate" asp-route-id="@item.IdDisponibilitateAdmin">Șterge</a>
                        <a class="btn btn-secondary" asp-action="VeziRezultate" asp-route-zi="@item.Zi">Vezi Rezultate</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

</body>
</html>