@model AJFIlfov.BusinessLogic.Implementation.Account.Models.UserAddressViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editare Adresă</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/css/Account/EditAddress.css"/>
</head>
<body>

<div class="container">
    <div class="header">
        <h1>Editare Adresă</h1>
    </div>

    <hr/>

    <form asp-action="EditAddress">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="UserId"/>

        <div class="form-group">
            <label asp-for="StreetAddress" class="control-label">Adresă Stradală</label>
            <input asp-for="StreetAddress" class="form-control"/>
            <span asp-validation-for="StreetAddress" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="City" class="control-label">Oraș</label>
            <input asp-for="City" class="form-control"/>
            <span asp-validation-for="City" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="State" class="control-label">Județ</label>
            <input asp-for="State" class="form-control"/>
            <span asp-validation-for="State" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ZipCode" class="control-label">Cod Poștal</label>
            <input asp-for="ZipCode" class="form-control"/>
            <span asp-validation-for="ZipCode" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Country" class="control-label">Țară</label>
            <input asp-for="Country" class="form-control"/>
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>

        <div class="form-group text-center">
            <input type="submit" value="Salvează" class="btn btn-primary"/>
        </div>
    </form>

    <div class="text-center">
        <a asp-action="ProfilePage" asp-route-userId="@Model.UserId" class="back-button">Înapoi la Profil</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

</body>
</html>