AJFIlfov.BusinessLogic/obj
AJFIlfov.DataAccess/obj
AJFIlfov.Entities/obj
AJFIlfovWebsite/obj
Common/obj

AJFIlfov.BusinessLogic/bin
AJFIlfov.DataAccess/bin
AJFIlfov.Entities/bin
AJFIlfovWebsite/bin
Common/bin

.vs