AJFIlfov.BusinessLogic/obj
AJFIlfov.DataAccess/obj
AJFIlfov.Entitites/obj
AJFIlfovWebsite/obj
Common/obj

AJFIlfov.BusinessLogic/bin
AJFIlfov.DataAccess/bin
AJFIlfov.Entitites/bin
AJFIlfovWebsite/bin
Common/bin
