:root {
    --font-primary: "Teko", sans-serif;
    --font-secondary: serif;
    --color-primary: #0c0942;
    --color-primary-hover: #555555;
    --color-on-primary: #fefefe;
    --color-on-primary-hover: #ffffff;
    --color-secondary: #de4c3f;
    --color-secondary-hover: #d62828;
    --color-on-secondary: #fefefe;
    --color-on-secondary-hover: #ffffff;
    --color-surface: #d1d1d1;
    --color-surface-inverse: #0f0f0f;
    --color-on-surface: #0f0f0f;
    --color-on-surface-inverse: #d1d1d1;
    --color-scrim-big: rgba(50, 50, 50, 0.5);
    --color-scrim-medium: rgba(0, 0, 0, 0.85);
    --color-scrim-small: rgba(0, 0, 0, 0.5);
    --color-shadow: rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-primary), sans-serif;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    width: 100vw;
}

a {
    text-decoration: none;
    color: inherit;
}

/* header */
header {
    width: 100vw;
    top: 0;
    background: linear-gradient(180deg, var(--color-primary) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: relative;
    padding: 1em 3em;
}

.header-title {
    display: flex;
    align-items: center;
}

    .header-title a {
        display: flex;
        align-items: center;
        text-decoration: none;
        text-align: start;
    }

    .header-title h2 {
        margin: 0;
        letter-spacing: 2px;
        margin-left: 1em;
        color: var(--color-on-surface-inverse);
    }

    .header-title img {
        width: 4em;
        height: auto;
        border-radius: 8px;
    }

.header-menu-toggle {
    display: none;
    color: var(--color-on-surface-inverse);
    font-size: 1.5em;
    cursor: pointer;
}

/* navigation */
header nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

    header nav a {
        color: var(--color-on-surface-inverse);
        text-decoration: none;
        font-size: 1.1em;
        transition: color 0.3s;
    }

        header nav a:hover {
            color: var(--color-secondary);
        }

/* mobile responsiveness */
@media (max-width: 1084px) {
    .header-title h2 {
        display: none;
    }

    .header-menu-toggle {
        display: block;
        z-index: 10 !important;
    }

    /* mobile nav */
    header nav {
        display: none;
        flex-direction: column;
        background-color: var(--color-primary);
        position: absolute;
        top: 70px;
        right: 0;
        width: 200px;
        gap: 30px;
        padding: 20px 0;
        z-index: 1000;
    }

        header nav.show {
            display: flex;
        }

        header nav a {
            font-size: 1.2em;
            color: var(--color-on-primary);
        }
}

/* main content */
.content {
    padding: 0px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

    .content::-webkit-scrollbar {
        display: none; /* Chrome, Safari and Opera */
    }

/* footer */
footer {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    padding: 40px 20px;
    text-align: center;
}

    footer p {
        margin-bottom: 10px;
    }

    footer .social-icons a {
        color: var(--color-on-primary);
        margin: 0 10px;
        font-size: 1.5em;
    }

        footer .social-icons a:hover {
            color: var(--color-secondary-hover);
        }
