@charset "UTF-8";

:root {
    --font-primary: "Funnel Display", serif;
    --font-secondary: serif;
    /* --color-primary-4: #0b0b0b; */
    /* --color-primary-3: #0c0942; */
    /* --color-primary-2: #001c3d; */
    /* --color-primary: #171837; */
    --color-primary: #d1d1d1;
    --color-primary-alt: #0b0b0b;
    --color-primary-hover: #555555;
    --color-on-primary: #fefefe;
    --color-on-primary-hover: #ffffff;
    --color-secondary: #de4c3f;
    --color-secondary-hover: #d62828;
    --color-on-secondary: #fefefe;
    --color-on-secondary-hover: #ffffff;
    --color-surface: #d1d1d1;
    --color-surface-inverse: #0f0f0f;
    --color-on-surface: #0f0f0f;
    --color-on-surface-inverse: #d1d1d1;
    --color-scrim-big: rgba(50, 50, 50, 0.5);
    --color-scrim-medium: rgba(0, 0, 0, 0.85);
    --color-scrim-small: rgba(0, 0, 0, 0.7);
    --color-shadow: rgba(10, 10, 10, 0.5);
    --radius-small: 0.2rem;
    --radius-big: 0.4rem;
    --blur: 80px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-primary);
    background-color: var(--color-primary);
    overflow-x: hidden;
    width: 100vw;
}

a {
    text-decoration: none;
    color: inherit;
}

/* ------ */
/* header */
/* ------ */
header {
    width: 100%;
    top: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1rem 3rem;
    width: 100%;
    height: 5rem;
}

.header-title {
    display: flex;
    align-items: center;
}

    .header-title h2 {
        display: none;
        margin: 0;
        letter-spacing: 2px;
        margin-left: 1rem;
        color: var(--color-on-surface-inverse);
    }

    .header-title h3 {
        display: flex;
        margin: 0;
        letter-spacing: 2px;
        margin-left: 1rem;
        color: var(--color-on-surface-inverse);
    }

    .header-title img {
        width: 2.5rem;
        height: auto;
        border-radius: var(--radius-small);
    }

.header-menu-toggle {
    width: 2rem;
    height: 2rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' fill='%23ffffff'%3E%3Cpath d='M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    color: var(--color-on-surface-inverse);
    cursor: pointer;
    position: relative;
}


/* ----------- */
/* regular nav */
/* ----------- */
.big-nav {
    display: none;
    align-items: center;
    gap: 1.2rem;
}

    .big-nav a {
        color: var(--color-on-surface-inverse);
        text-decoration: none;
        font-size: 1rem;
    }


/* ---------- */
/* mobile nav */
/* ---------- */
.small-nav {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1000 !important;
    overflow: hidden;
    background-color: var(--color-surface-inverse);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

    .small-nav.show {
        position: fixed;
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    .small-nav .header-content {
        position: absolute;
        justify-content: end;
        z-index: 1001 !important;
    }

.small-nav-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.2rem 0;
    width: 100%;
    height: 100%;
    gap: 2rem;
}

    .small-nav-content a {
        color: var(--color-on-surface-inverse);
        text-decoration: none;
        font-size: 1.5rem;
    }


/* --------------------- */
/* mobile responsiveness */
/* --------------------- */
@media (min-width: 768px) {
    .header-content {
        padding: 1rem 3rem;
        height: 8rem;
    }

    .header-title h3 {
        margin-left: 2rem;
        font-size: 2rem;
    }

    .header-title img {
        width: 4rem;
    }

    .header-menu-toggle {
        width: 3rem;
        height: 3rem;
    }

    .small-nav-content a {
        font-size: 2rem;
    }
}

@media (min-width: 1280px) {
    .header-menu-toggle {
        display: none;
    }

    .small-nav {
        display: none;
    }

    .big-nav {
        display: flex;
    }
}