spring:
  datasource:
    url: jdbc:sqlserver://ajfilfov2.database.windows.net:1433;database=AJFIlfov;encrypt=true;trustServerCertificate=false;loginTimeout=30;
    username: eduard
    password: Fcsteaua25?
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

server:
  port: 8080
