@charset "UTF-8";

:root {
    --font-primary: "Teko", sans-serif;
    --font-secondary: serif;
    --color-primary: #0c0942;
    --color-primary-hover: #555555;
    --color-on-primary: #fefefe;
    --color-on-primary-hover: #ffffff;
    --color-secondary: #de4c3f;
    --color-secondary-hover: #d62828;
    --color-on-secondary: #fefefe;
    --color-on-secondary-hover: #ffffff;
    --color-surface: #d1d1d1;
    --color-surface-inverse: #0f0f0f;
    --color-on-surface: #0f0f0f;
    --color-on-surface-inverse: #d1d1d1;
    --color-scrim-big: rgba(50, 50, 50, 0.5);
    --color-scrim-medium: rgba(0, 0, 0, 0.85);
    --color-scrim-small: rgba(0, 0, 0, 0.5);
    --color-shadow: rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-primary), sans-serif;
    background-color: var(--color-primary);
    overflow-x: hidden;
    width: 100vw;
}

a {
    text-decoration: none;
    color: inherit;
}

/* hero section */
.hero {
    position: relative;
    width: 100vw;
    overflow: hidden;
    height: 70vh;
    background: var(--color-scrim-small);
}

    .hero .hero-text-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--color-on-surface-inverse);
        text-align: center;
        z-index: 1;
    }

        .hero .hero-text-container h1 {
            margin-top: 50px;
            font-size: 4em;
            margin-bottom: 20px;
            letter-spacing: 2px;
        }

        .hero .hero-text-container a {
            margin-top: 50px;
            padding: 15px 30px;
            background-color: var(--color-secondary);
            color: var(--color-on-secondary);
            border: none;
            font-size: 1.4em;
            cursor: pointer;
            border-radius: 5px;
            transition: background 0.3s;
            display: inline-block;
        }

            .hero .hero-text-container a:hover {
                background-color: var(--color-secondary-hover);
            }

    .hero .hero-images-container {
        position: absolute;
        z-index: -1;
        display: flex;
        height: 100%;
        width: 100%;
    }

        .hero .hero-images-container::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--color-scrim-big);
            z-index: 1;
        }

    .hero .hero-images-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, var(--color-primary) 0%, var(--color-primary) 5%, rgba(0, 0, 0, 0) 30%);
    }

    .hero .hero-images-container img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        margin-left: -5vw;
    }

        .hero .hero-images-container img.first-image {
            -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
        }

        .hero .hero-images-container img.last-image {
            -webkit-clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
            margin-right: -5vw;
        }

/* header */
header {
    width: 100%;
    top: 0;
    background: linear-gradient(180deg, var(--color-primary) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: relative;
    padding: 1em 3em;
}

.header-title {
    display: flex;
    align-items: center;
}

    .header-title h2 {
        margin: 0;
        letter-spacing: 2px;
        margin-left: 1em;
        color: var(--color-on-surface-inverse);
    }

    .header-title img {
        width: 4em;
        height: auto;
        border-radius: 8px;
    }

.header-menu-toggle {
    display: none;
    color: var(--color-on-surface-inverse);
    font-size: 1.5em;
    cursor: pointer;
}

/* navigation */
header nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

    header nav a {
        color: var(--color-on-surface-inverse);
        text-decoration: none;
        font-size: 1.1em;
        transition: color 0.3s;
    }

        header nav a:hover {
            color: var(--color-secondary);
        }

/* mobile responsiveness */
@media (max-width: 1084px) {
    .header-title h2 {
        display: none;
    }

    .header-menu-toggle {
        display: block;
        z-index: 10 !important;
    }

    /* mobile nav */
    header nav {
        display: none;
        flex-direction: column;
        background-color: var(--color-primary);
        position: absolute;
        top: 70px;
        right: 0;
        width: 200px;
        gap: 30px;
        padding: 20px 0;
        z-index: 1000;
    }

        header nav.show {
            display: flex;
        }

        header nav a {
            font-size: 1.2em;
            color: var(--color-on-primary);
        }
}

/* main news section */
.main-news {
    margin: 0px 80px;
    padding: 60px 20px;
    text-align: center;
    background-color: var(--color-surface);
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .main-news .main-news-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: var(--color-surface);
        width: 750px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 5px 15px var(--color-shadow);
        text-align: left;
        transition: transform 0.3s;
    }

        .main-news .main-news-card:hover {
            transform: translateY(-10px);
        }

        .main-news .main-news-card img {
            width: 100%;
            height: 250px;
            -o-object-fit: cover;
            object-fit: cover;
            object-position: center bottom;
        }

        .main-news .main-news-card .main-news-card-content {
            padding: 20px;
            width: 100%;
        }

            .main-news .main-news-card .main-news-card-content h3 {
                font-size: 1.5em;
                margin-bottom: 10px;
                color: var(--color-primary);
            }

            .main-news .main-news-card .main-news-card-content p {
                font-size: 1em;
                color: var(--color-primary-hover);
                margin-bottom: 15px;
            }

            .main-news .main-news-card .main-news-card-content a {
                color: var(--color-secondary);
                font-weight: bold;
            }

/* news section */
.news {
    margin: 0px 80px;
    padding: 60px 20px;
    text-align: center;
    background-color: var(--color-surface);
}

    .news h2 {
        font-size: 2.5em;
        margin-bottom: 25px;
        color: var(--color-on-surface);
    }

    .news .news-cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

    .news .news-card {
        background-color: var(--color-surface);
        width: 350px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 5px 15px var(--color-shadow);
        text-align: left;
        transition: transform 0.3s;
    }

        .news .news-card:hover {
            transform: translateY(-10px);
        }

        .news .news-card img {
            width: 100%;
            height: 200px;
            -o-object-fit: cover;
            object-fit: cover;
        }

        .news .news-card .news-card-content {
            padding: 20px;
        }

            .news .news-card .news-card-content h3 {
                font-size: 1.5em;
                margin-bottom: 10px;
                color: var(--color-primary);
            }

            .news .news-card .news-card-content p {
                font-size: 1em;
                color: var(--color-primary-hover);
                margin-bottom: 15px;
            }

            .news .news-card .news-card-content a {
                color: var(--color-secondary);
                font-weight: bold;
            }

/* services section */
.services {
    margin: 0px 80px;
    padding: 60px 20px;
    text-align: center;
    background-color: var(--color-surface);
}

    .services h2 {
        font-size: 2.5em;
        margin-bottom: 25px;
        color: var(--color-on-surface);
    }

    .services .service-cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

    .services .service-card {
        background-color: var(--color-surface);
        width: 300px;
        padding: 30px 20px;
        border-radius: 10px;
        box-shadow: 0 5px 15px var(--color-shadow);
        transition: transform 0.3s;
        background-size: cover;
        background-position: center;
        color: var(--color-on-surface-inverse);
    }

        .services .service-card.first-card {
            background-image: url("/images/services3.jpg");
        }

        .services .service-card.second-card {
            background-image: url("/images/services2.jpg");
            background-position-x: 70%;
        }

        .services .service-card.third-card {
            background-image: url("/images/services1.jpg");
            background-position-x: 75%;
        }

        .services .service-card.service-card.first-card,
        .services .service-card.service-card.second-card,
        .services .service-card.service-card.third-card {
            background-color: var(--color-scrim-small);
            background-blend-mode: overlay;
        }

        .services .service-card:hover {
            transform: translateY(-10px);
        }

        .services .service-card h3 {
            font-size: 1.5em;
            margin-bottom: 15px;
        }

        .services .service-card p {
            font-size: 1em;
        }

/* services carousel */
.carousel-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.carousel-content {
    position: relative;
    width: 80%;
    max-width: 800px;
    height: 500px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
}

    .carousel-images img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        flex-shrink: 0;
    }

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 10;
    font-size: 1.5em;
    border-radius: 50%;
}

    .carousel-button.left {
        left: 10px;
    }

    .carousel-button.right {
        right: 10px;
    }

    .carousel-button:hover {
        background: rgba(0, 0, 0, 0.8);
    }

.carousel-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
}

.carousel-content {
    pointer-events: all;
}

/* stats section */
.stats {
    margin: 0px 80px;
    padding: 60px 0px 0px 0px;
    background-color: var(--color-surface);
    text-align: center;
    border-radius: 0 0 20px 20px;
}

    .stats h2 {
        font-size: 2.5em;
        margin-bottom: 25px;
        color: var(--color-on-surface);
    }

    .stats .stats-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        background-image: url("/images/stats-bg.png");
        background-size: cover;
        background-position: center;
        background-color: var(--color-scrim-medium);
        background-blend-mode: overlay;
        padding: 40px 0;
        border-radius: inherit;
    }

    .stats .stats-card {
        margin: 20px;
        width: 170px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .stats .stats-card img {
            width: 60px;
            height: 60px;
        }

        .stats .stats-card h3 {
            font-size: 2.5em;
            margin-top: 20px;
            color: var(--color-on-surface-inverse);
        }

        .stats .stats-card p {
            font-size: 0.8em;
            margin-top: 10px;
            color: var(--color-on-surface-inverse);
        }

/* contact section */
.contact {
    padding: 80px 20px;
    text-align: center;
    position: relative;
    background: var(--color-primary);
}

    .contact .contact-content {
        position: relative;
        z-index: 1;
        color: var(--color-on-primary);
    }

        .contact .contact-content h2 {
            font-size: 2.5em;
            margin-bottom: 30px;
        }

        .contact .contact-content p {
            font-size: 1.2em;
            margin-bottom: 40px;
        }

        .contact .contact-content a {
            padding: 15px 30px;
            background-color: var(--color-secondary);
            color: var(--color-on-secondary);
            border: none;
            font-size: 1em;
            cursor: pointer;
            border-radius: 5px;
            transition: background 0.3s;
        }

            .contact .contact-content a:hover {
                background-color: var(--color-secondary-hover);
            }

/* footer */
footer {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    padding: 40px 20px;
    text-align: center;
}

    footer p {
        margin-bottom: 10px;
    }

    footer .social-icons a {
        color: var(--color-on-primary);
        margin: 0 10px;
        font-size: 1.5em;
    }

        footer .social-icons a:hover {
            color: var(--color-secondary-hover);
        }

/* extra responsiveness */
@media (max-width: 992px) and (min-width: 769px) {
    .services .service-cards-container,
    .news .news-cards-container {
        flex-direction: column;
        align-items: center;
    }

    .services .service-card,
    .news .news-card {
        width: 80%;
    }
}

@media (max-width: 768px) and (min-width: 577px) {
    .hero .hero-text-container h1 {
        font-size: 2.5em;
    }

    .hero .hero-text-container p {
        font-size: 1.2em;
    }

    .hero .stats .stats-content {
        flex-direction: column;
        padding: 20px 0;
    }

    .hero .stats .stats-card {
        width: 80%;
    }
}

@media (max-width: 576px) {
    .hero .hero-text-container h1 {
        font-size: 2em;
    }

    .hero .hero-text-container p {
        font-size: 1em;
    }

    .hero .hero-text-container a {
        font-size: 0.9em;
        padding: 12px 24px;
        width: auto;
    }

    .services .service-card,
    .news .news-card {
        width: 100%;
    }

    .stats .stats-card {
        width: 100%;
    }
}

/*# sourceMappingURL=styles.css.map */
