/* ------------ */
/* hero section */
/* ------------ */
.hero {
    background: var(--color-scrim-small);
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 80vh;
}

    .hero .hero-text-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--color-on-surface-inverse);
        text-align: center;
        z-index: 1;
    }

        .hero .hero-text-container h1 {
            margin-top: 50px;
            font-size: 2.2rem;
            margin-bottom: 20px;
            letter-spacing: 2px;
        }

        .hero .hero-text-container a {
            display: inline-block;
            font-size: 1rem;
            padding: 0.9rem 1.2rem;
            width: auto;
            background-color: var(--color-secondary);
            color: var(--color-on-secondary);
            border: none;
            border-radius: var(--radius-small);
            transition: background 0.3s;
            cursor: pointer;
        }

            .hero .hero-text-container a:hover {
                background-color: var(--color-secondary-hover);
            }

    .hero .hero-images-container {
        position: absolute;
        z-index: -1;
        display: flex;
        height: 100%;
        width: 100%;
    }

        .hero .hero-images-container::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--color-scrim-big);
            z-index: 1;
        }

    .hero .hero-images-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        /* background: linear-gradient(0deg, var(--color-primary) 0%, var(--color-primary) 5%, rgba(0, 0, 0, 0) 15%); */
    }

    .hero .hero-images-container img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        margin-left: -5vw;
    }

        .hero .hero-images-container img.first-image {
            -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
        }

        .hero .hero-images-container img.last-image {
            -webkit-clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
            margin-right: -5vw;
        }


/* ------------ */
/* content area */
/* ------------ */
.content {
    margin: -10% 0;
    padding: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

    .content::-webkit-scrollbar {
        display: none; /* Chrome, Safari and Opera */
    }


/* ----------------- */
/* main news section */
/* ----------------- */
.main-news {
    margin: 0 4%;
    padding: 0 0 2rem 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .main-news-card {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: var(--color-surface);
        width: 100%;
        border-radius: var(--radius-big);
        box-shadow: 0 0.5rem 1rem var(--color-shadow);
        overflow: hidden;
        text-align: left;
        transition: transform 0.3s;
    }

        .main-news-card img {
            width: 100%;
            height: 14rem;
            -o-object-fit: cover;
            object-fit: cover;
            object-position: center bottom;
        }

        .main-news-card-content {
            position: absolute;
            padding: 1rem;
            width: calc(100% - 2rem);
            transform: translateY(calc((14rem - 1rem) / 2));
            border-radius: var(--radius-big);
            background: rgba(209, 209, 209, 0.20);
            backdrop-filter: blur(var(--blur));
        }

            .main-news-card .main-news-card-content h3 {
                font-size: 1.5rem;
                margin-bottom: 0.2rem;
                color: var(--color-primary);
            }

            .main-news-card .main-news-card-content a {
                color: var(--color-secondary);
                font-weight: bold;
            }


/* ------------ */
/* news section */
/* ------------ */
.news {
    padding: 2rem 1rem;
    text-align: center;
    background-color: var(--color-primary-alt);
}

    .news h2 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        color: var(--color-on-surface-inverse);
    }

    .news-cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }

    .news-card {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: var(--color-surface);
        width: 100%;
        height: 28rem;
        border-radius: var(--radius-big);
        box-shadow: 0 0.5rem 1rem var(--color-shadow);
        overflow: hidden;
        text-align: left;
        transition: transform 0.3s;
    }

        .news-card img {
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            object-position: center top;
        }

        .news-card .news-card-content {
            position: absolute;
            padding: 1rem;
            width: 100%;
            bottom: 0;
            border-radius: 0 0 var(--radius-big) var(--radius-big);
            background: rgba(209, 209, 209, 0.20);
            backdrop-filter: blur(var(--blur));
        }

            .news-card .news-card-content h3 {
                font-size: 1.5rem;
                margin-bottom: 0.8rem;
                color: var(--color-primary);
            }

            .news-card .news-card-content p {
                font-size: 1rem;
                margin-bottom: 1rem;
                color: var(--color-on-surface-inverse);
            }

            .news-card .news-card-content a {
                display: inline-block;
                font-size: 1rem;
                padding: 0.9rem 1.2rem;
                width: 100%;
                text-align: center;
                background-color: var(--color-secondary);
                color: var(--color-on-secondary);
                border: none;
                border-radius: var(--radius-small);
                transition: background 0.3s;
                cursor: pointer;
                font-weight: bold;
            }
            
                .news-card .news-card-content a:hover {
                    background-color: var(--color-secondary-hover);
                }


/* ---------------- */
/* services section */
/* ---------------- */
.services {
    padding: 2rem 1rem;
    text-align: center;
}

    .services h2 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        color: var(--color-on-surface-inverse);
    }

    .services .service-cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

    .services .service-card {
        background-color: var(--color-surface);
        width: 100%;
        padding: 2rem 1.3rem;
        border-radius: var(--radius-big);
        box-shadow: 0 0.5rem 1rem var(--color-shadow);
        transition: transform 0.3s;
        background-size: cover;
        background-position: center;
        color: var(--color-on-surface-inverse);
    }

        .services .service-card.first-card {
            background-image: url("/images/services3.jpg");
        }

        .services .service-card.second-card {
            background-image: url("/images/services2.jpg");
            background-position-x: 70%;
        }

        .services .service-card.third-card {
            background-image: url("/images/services1.jpg");
            background-position-x: 75%;
        }

        .services .service-card.service-card.first-card,
        .services .service-card.service-card.second-card,
        .services .service-card.service-card.third-card {
            background-color: var(--color-scrim-small);
            background-blend-mode: overlay;
        }

        .services .service-card h3 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

        .services .service-card p {
            font-size: 1rem;
        }

/* services carousel on click */
.carousel-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.carousel-content {
    position: relative;
    width: 80%;
    max-width: 50rem;
    height: 32rem;
    background: #fff;
    border-radius: var(--radius-big);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
}

    .carousel-images img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        flex-shrink: 0;
    }

.carousel-button {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 10;
    font-size: 1.5rem;
    border-radius: 50%;
    text-align: center;
    width: 3rem;
    height: 3rem;
}

    .carousel-button.left {
        left: 0.8rem;
    }

    .carousel-button.right {
        right: 0.8rem;
    }

    .carousel-button:hover {
        background: rgba(0, 0, 0, 0.8);
    }

.carousel-close {
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}

.carousel-content {
    pointer-events: all;
}


/* ------------- */
/* stats section */
/* ------------- */
.stats {
    padding: 2rem 1rem;
    text-align: center;
    background-color: var(--color-primary-alt);
}

    .stats h2 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        color: var(--color-on-surface-inverse);
    }

    .stats .stats-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        background-image: url("/images/stats-bg.png");
        background-size: cover;
        background-position: center;
        background-color: var(--color-scrim-medium);
        background-blend-mode: overlay;
        gap: 20px;
        border-radius: var(--radius-big);
    }

    .stats .stats-card {
        margin: 1.7rem;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .stats .stats-card img {
            width: auto;
            height: 4rem;
        }

        .stats .stats-card h3 {
            font-size: 2.5rem;
            color: var(--color-on-surface-inverse);
        }

        .stats .stats-card p {
            font-size: 0.8rem;
            color: var(--color-on-surface-inverse);
        }


/* --------------- */
/* contact section */
/* --------------- */
.contact {
    padding: 4rem 1rem 2rem 1rem;
    text-align: center;
    position: relative;
}

    .contact .contact-content {
        position: relative;
        z-index: 1;
        color: var(--color-on-primary);
    }

        .contact .contact-content h2 {
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }

        .contact .contact-content p {
            font-size: 1.2rem;
            margin-bottom: 2.3rem;
        }

        .contact .contact-content a {
            display: inline-block;
            font-size: 1rem;
            padding: 0.9rem 1.2rem;
            width: auto;
            background-color: var(--color-secondary);
            color: var(--color-on-secondary);
            border: none;
            border-radius: var(--radius-small);
            transition: background 0.3s;
            cursor: pointer;
        }

            .contact .contact-content a:hover {
                background-color: var(--color-secondary-hover);
            }


/* ------ */
/* footer */
/* ------ */
footer {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    padding: 2rem 1rem;
    text-align: center;
}

    footer p {
        margin-bottom: 0.8rem;
    }

    footer .social-icons a {
        color: var(--color-on-primary);
        margin: 0 0.8rem;
        font-size: 1.5rem;
    }

        footer .social-icons a:hover {
            color: var(--color-secondary-hover);
        }


/* ------------- */
/* popup overlay */
/* ------------- */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1002;
}

.popup-content {
    background-color: #ffffff;
    color: #333;
    padding: 1.2rem;
    border-radius: var(--radius-big);
    text-align: center;
    max-width: 25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

    .popup-content h2 {
        font-size: 1.5rem;
        color: #007acc;
    }

    .popup-content p {
        margin: 0.8rem 0;
        font-size: 1.1rem;
    }

    .popup-content button {
        padding: 0.8rem 1.2rem;
        border: none;
        background-color: #007acc;
        color: white;
        font-size: 1rem;
        border-radius: var(--radius-small);
        cursor: pointer;
    }

        .popup-content button:hover {
            background-color: #005fa3;
        }


/* mobile responsiveness */
/* @media (max-width: 1084px) {
    .header-title h2 {
        display: flex;
    }

    .header-menu-toggle {
        display: block;
        z-index: 10 !important;
    }

    header nav {
        display: none;
        flex-direction: column;
        background-color: var(--color-primary);
        position: absolute;
        top: 70px;
        right: 0;
        width: 200px;
        gap: 30px;
        padding: 20px 0;
        z-index: 1000;
    }

        header nav.show {
            display: flex;
        }

        header nav a {
            font-size: 1.2rem;
            color: var(--color-on-primary);
        }
} */

/* extra responsiveness */
/* @media (max-width: 992px) and (min-width: 769px) {
    .services .service-cards-container,
    .news .news-cards-container {
        flex-direction: column;
        align-items: center;
    }

    .services .service-card,
    .news .news-card {
        width: 80%;
    }
}

@media (max-width: 768px) and (min-width: 577px) {
    .hero .hero-text-container h1 {
        font-size: 2.5rem;
    }

    .hero .hero-text-container p {
        font-size: 1.2rem;
    }

    .hero .stats .stats-content {
        flex-direction: column;
        padding: 20px 0;
    }

    .hero .stats .stats-card {
        width: 80%;
    }
}

@media (max-width: 576px) {
    .hero .hero-text-container h1 {
        font-size: 2rem;
    }

    .hero .hero-text-container p {
        font-size: 1rem;
    }

    .hero .hero-text-container a {
        font-size: 0.9rem;
        padding: 12px 24px;
        width: auto;
    }

    .services .service-card,
    .news .news-card {
        width: 100%;
    }

    .stats .stats-card {
        width: 100%;
    }
} */