@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="ro">

<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"] - Asociația Județeană de Fotbal Ilfov</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap" rel="stylesheet">
    <!-- css style -->
    <link rel="stylesheet" href="~/css/Common/Common.css">
    <style>
        .website-button {
            background-color: var(--color-secondary);
            color: var(--color-on-secondary);
            border: none;
            border-radius: 0.5rem;
            cursor: pointer;
            font-size: 0.75rem;
            transition: background-color 0.3s ease;
            text-decoration: none;
            display: inline-block;
            margin-left: auto;
            padding: 0.8rem 0.5rem;
            white-space: nowrap;
            line-height: 1.2;
        }

            .website-button:hover {
                background-color: #00a89b;
            }

        @@media (min-width: 768px) {
            .website-button {
                padding: 0.5rem 1.5rem;
                font-size: 1rem;
            }
        }
    </style>
</head>

<body>
    <!-- filter over hexagon background to make it blurred and cool; it needs to wrap around the whole content so that its height matches it -->
    <div class="body-filter">

        <!-- header section -->
        <header>
            <div class="header-content">
                <div class="header-title">
                    <img src="~/images/logo1.png" alt="Logo AJF Ilfov">
                    <h2>Asociația Județeană de Fotbal Ilfov</h2>
                    <h3>AJF Ilfov</h3>
                </div>

                <!-- website button -->
                <a href="/" class="website-button">Către site-ul principal</a>
            </div>
        </header>

        <!-- main content -->
        <div class="content">
            @RenderBody()
            @RenderSection("Scripts", required: false)
            @RenderSection("Styles", required: false)
        </div>

        <!-- page footer -->
        <footer>
            <p>&copy; 2024 Asociația Județeană de Fotbal Ilfov. Toate drepturile rezervate.</p>
            <div class="social-icons">
                <a class="instagram" href="#"></a>
                <a class="facebook" href="https://www.facebook.com/AJFIlfov1997/?locale=ro_RO"></a>
                <a class="twitter" href="#"></a>
            </div>
        </footer>
    </div>
</body>
</html>