@{
    ViewData["Title"] = "Acasă";
}

<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Bine ai venit la AJF Ilfov!</h1>
        <p class="lead">Administrează-ți meciurile și echipele cu ușurință.</p>
        <hr class="my-4">
        <p>Alege o acțiune mai jos pentru a începe:</p>
        <div class="row">
            <div class="col-md-4 mb-4">
                <a class="btn btn-primary btn-lg btn-block" href="/Meciuri/Create">Creează un Meci</a>
            </div>
            <div class="col-md-4 mb-4">
                <a class="btn btn-secondary btn-lg btn-block" href="/Meciuri">Vizualizează Meciuri</a>
            </div>
            <div class="col-md-4 mb-4">
                <a class="btn btn-info btn-lg btn-block" href="/Echipe">Administrează Echipe</a>
            </div>
        </div>
    </div>
</div>
