<h2>Admin Dashboard</h2>
<p>Bine ai venit, @User.Identity.Name!</p>

<ul>
    <li><a asp-action="Audit">Inspecteaza Audit</a></li>
    <li><a asp-action="CreateAnunt">Creează Anunț</a></li>
    <li><a asp-action="CreateMatch">Creează Meci</a></li>
    <li><a asp-action="MeciuriLive">Lista Meciuri Live</a></li>
    <li><a asp-action="Logout">Logout</a></li>
</ul>