body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    margin-top: 50px;
}

h2 {
    color: #004085;
    text-align: center;
    margin-bottom: 20px;
}

.btn-primary, .btn-warning, .btn-danger {
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px 0;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    color: white;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }

.btn-warning {
    background-color: #ffc107;
    border: none;
    color: white;
}

    .btn-warning:hover {
        background-color: #e0a800;
    }

.btn-danger {
    background-color: #dc3545;
    border: none;
    color: white;
}

    .btn-danger:hover {
        background-color: #c82333;
    }

.table {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .table {
        width: 100%;
        overflow-x: auto;
    }

    .btn-primary, .btn-warning, .btn-danger {
        width: 100%;
    }
}
